<div ng-controller="ShellController as vm">
    <!--UnAuthenticaatedView-->
    <div ng-if="!vm.auth.isAuthenticated" 
        ng-include="'app/layout/landing/landing.html'"></div>
    <!--/UnAuthenticaatedView-->
    
    <!--AuthenticaatedView-->
    <div ng-if="vm.auth.isAuthenticated">
        <header class="clearfix">
            <div ng-include="'app/layout/nav/topnav.html'"></div>
            
        </header>
        <div ng-include="'app/layout/nav/sidebar.html'"></div>
        <chat></chat>
        
        <section id="main-section" class="main-content sidebar-active">
            <div class='container-fluid'>
                <div ui-view class="shuffle-animation mainbar"></div>
            </div>
        </section>
    </div>
</div>