<div ng-controller="ShellController as vm">

    <section class="authenticated-shell" ng-if="vm.auth.isAuthenticated">
        <header class="clearfix">
            <div ng-include="'app/layout/nav/topnav.html'"></div>
            <div ng-include="'app/layout/nav/sidebar.html'"></div>
        </header>

        <chat></chat>    
        <section id="main-section" class="main-content sidebar-active">
            <div class='container-fluid'>
                <div ui-view class="shuffle-animation mainbar"></div>
            </div>
        </section>
    </section>

    <!-- Unauthenticated View -->
    <div ng-if="!vm.auth.isAuthenticated" ui-view></div>
</div>

 