$screen-tablet: 768px;
$sidebar-width: 140px;

$desktop-width: 1199px;
$desktop-topnav-correction: 70px;

/*override material colors*/
.navbar {
    background-color: #21455A;
    // max-height: 50px;
}

.card {
    padding: 8px;
    margin-top: 10px;
}

#main-section {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-content {
    margin-left: 195px;
    margin-top: 60px;
}

@media (max-width: $screen-tablet) {
    .chat-active {
        margin-right: $sidebar-width; 
    }
}

.chat-active {
    margin-right: 300px;
}

@media (min-width: $desktop-width) {
    top: $desktop-topnav-correction;    
}


.dropdown-toggle {
    max-height: 50px;
}