@import "base/variables";
@import "base/mixins";
// @import "base/hacks";
// @include hacks();
@import url(https://fonts.googleapis.com/css?family=Roboto:900);


/** Apply gloabl font theme */
* {
    font-family: Roboto;
}

body {
    background-image: url('/images/main-background.png');
    // background-repeat: no-repeat;
    background-attachment: fixed;
    // overflow: hidden;
    width: 100%;
    height: 100%;
}

/*Color Templates*/


/** Main Mixins */

/** End Main Mixins */

/** Anchor Animations */
a:not(.avatar) {
    text-decoration: none;
    @include transition(all .2s);
    &:hover {
        // font-size: 130%;
    };
}

.navbar-default {
    background-color: $primary-background;
    a {
        color: $navcolor !important;
    }
}

.ds-input {
    .input {
        color: $navcolor !important;
    }        
}
/** End Anchor Animation */


/** Button Styles */
.btn-main {
    @include btn-gradient;
    box-shadow: 0 0 10px rgba(5,199,247,0.5), inset 0 0 1px 1px #05c7f7;
    color: white;
    &:hover, &:focus {
        color: white;
    }
    &:active {
        @include btn-gradient;
    }
}

.card {
    margin-top: 15px;
    background-color: $secondary-background;
    padding: 15px;
    width: 100%;
    color: $primary-text-color;
    border: 3px solid $action-primary;

    textarea {
        color: black;
    }

    a {
        color: $action-primary;
    }
}



/**
a:hover::before, a:hover::after {
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}*/
/*$screen-tablet: 768px;
$sidebar-width: 140px;

$desktop-width: 1199px;
$desktop-topnav-correction: 70px;*/

/*override material colors*/
/*.navbar {
    background-color: #21455A;
    // max-height: 50px;
}*/

/*.card {
    padding: 8px;
    margin-top: 10px;
}*/

#main-section {
    @include transition(all .5s $transition-type);
}

.main-content {
    /*margin-left: 195px;*/
    margin-top: 60px;
}



.chat-active {
    margin-right: 300px;
}
@media (max-width: $screen-tablet) {
    .chat-active {
        margin-right: $sidebar-width; 
    }
}