<div ng-controller="SidebarController as vm" class="ds-sidebar">  
    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-fixed-left sidebar-default open" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover" style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
            <!-- Top bar -->
            <div class="top-bar"></div>
            <!-- Sidebar toggle button -->
            <button type="button" class="sidebar-toggle">
            </button>
            <!-- Sidebar brand image -->
            <div class="sidebar-image">
                <img src="{{ vm.profile.picture }}">
            </div>
            <!-- Sidebar brand name -->
            <a href="javascript:void(0)" data-target="#settings-dropdown" data-toggle="dropdown" class="sidebar-brand"  >
                {{ vm.profile.name || vm.profile.nickname }}
                <b class="caret"></b>
            </a>
        </div>

        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li class="dropdown">
                <ul id="settings-dropdown" class="dropdown-menu">
                    <li><a ui-sref="profile" tabindex="-1"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a ui-sref="settings" tabindex="-1"><i class="fa fa-cogs"></i> Settings</a></li>
                    <li><a ng-click="vm.logout()" href="javascript:void(0)" tabindex="-1"><i class="fa fa-sign-out"></i> Logout</a><li>
                </ul>
            </li>
            <li ng-repeat="route in vm.navRoutes">
                <a ui-sref="{{ route.name }}" ng-bind-html="route.settings.content">{{route.title}}</a>
            </li>
            
            <li class="divider"></li>
            <!--<li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                    All Mail
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" tabindex="-1">Social<span class="sidebar-badge">12</span></a></li>
                    <li><a href="#" tabindex="-1">Promo<span class="sidebar-badge">0</span></a></li>
                </ul>
            </li>
            <li><a href="#">Trash<span class="sidebar-badge">3</span></a></li>
            <li><a href="#">Spam<span class="sidebar-badge">456</span></a></li>
            <li><a href="#">Follow Up<span class="sidebar-badge badge-circle">i</span></a></li>-->
        </ul>
    </aside>

</div>

<script>
  
/**
 * Add JQuery animation to bootstrap dropdown elements.
 */
(function($) {
    var dropdown = $('.dropdown');

    // Add slidedown animation to dropdown
    dropdown.on('show.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // Add slideup animation to dropdown
    dropdown.on('hide.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
})(jQuery);


</script>