/* -- import Roboto Font ---------------------------- */
@import "base/variables";
@import "base/mixins";

.ds-sidebar {    
    
    // Base variables
    // --------------------------------------------------

    $zindex-sidebar-fixed: 1035;

    
    // Sidebar variables
    // --------------------------------------------------
    
    $sidebar-background-image: $primary-background;
    $sidebar-header-background-image: url('/images/vs.jpg');


    $sidebar-desktop-width: 195px;
    $sidebar-width: 195px;


    $sidebar-padding: 16px;
    $sidebar-divider: $sidebar-padding/2;

    $sidebar-nav-height: 48px;

    $sidebar-icon-width: 40px;
    $sidebar-icon-size: 20px;

    $sidebar-badge-size: $sidebar-nav-height/2;
    $sidebar-badge-font-size: 10px;

    $sidebar-action-primary: $action-secondary;
    $sidebar-action-primary: $action-primary;
    $sidebar-menu-color: $action-secondary;
    $sidebar-font-size: 1.4em;
    $sidebar-font-transform: capitalize;
    $sidebar-font-weight: 600;
    
    $desktop-topnav-correction: 60px;

    // Sidebar mixins
    // --------------------------------------------------
    
    // Base mixins
    // --------------------------------------------------
    @mixin clearfix() {
        &:before,
        &:after {
            content: " "; // 1
            display: table; // 2
        }
        &:after {
            clear: both;
        }
    }

    @mixin text-overflow() {
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @mixin translate3d($x, $y, $z) {
        -webkit-transform: translate3d($x, $y, $z);
        transform: translate3d($x, $y, $z);
    }

    @mixin box-shadow($shadow) {
        -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
        box-shadow: $shadow;
    }
    @mixin background-size($background-size) {
        -webkit-background-size: $background-size;
        -moz-background-size: $background-size;
        -o-background-size: $background-size;
        background-size: $background-size;
    }
    /* -- Sidebar style ------------------------------- */
    
    position: absolute;
    top: 50px;
    bottom: 0px;

    .top-bar {
        height: 25px;
        background: rgba(0, 0, 0, 0.1);
    }



    /* -- Bootstrap-like style ------------------------------- */
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

 

    // Positioning layout: stacked
    .sidebar-stacked.open + .wrapper .constructor{
        margin-left: $sidebar-desktop-width;
    }

    @media (max-width: $screen-tablet) {
        .sidebar-stacked.open + .wrapper .constructor{
            margin-left: $sidebar-width; 
        }
    }

    // Sidebar horizontal block
    // This settings will extended by .sidebar-text, .sidebar-brand and .sidebar-nav>li>a
    @mixin sidebar-block() {
        display: block;
        height: $sidebar-nav-height;
        line-height: $sidebar-nav-height;
        padding: 0;
        padding-left: $sidebar-padding;
        padding-right: ($sidebar-padding + $sidebar-badge-size) + $sidebar-padding;
        text-decoration: none;
        clear: both;
        font-weight: $sidebar-font-weight;
        @include text-overflow();
        @include transition(all .2s ease-in-out);

        &:hover, &:focus {
            @include box-shadow(none);
            outline: none;
        }

        // positioning caret in sidebar block
        .caret {
            position: absolute;
            right: $sidebar-padding + $sidebar-badge-size/2 - 4px; // caret centered by badge position; 4px - caret width
            top: $sidebar-nav-height/2;
        }
    }

    //
    // Sidebars
    // --------------------------------------------------

    // Wrapper and base class
    //
    // Provide a static sidebar from which we expand to create other sidebar variations.
    .sidebar {
        position: relative;
        display: block;
        min-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: none;
        @include transition(all 0.5s cubic-bezier(0.55, 0, 0.1, 1));


        // Prevent floats from breaking the sidebar
        // &:extend(.clearfix all);
        @include clearfix();

        // Scrollbar style for webkit browsers
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #F7F7F7;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #BFBFBF;
        }

        background-color: $sidebar-background-image;

        .sidebar-header {
            background-image: $sidebar-header-background-image;
            background-repeat: repeat;
        }

        .sidebar-toggle {
            color: $action-secondary;
            background-color: transparent;
        }

        .sidebar-brand {
            color: $action-primary;
            background-color: transparent;
            font-size: $sidebar-font-size;
            text-transform: $sidebar-font-transform;
            font-weight: $sidebar-font-weight;
            &:hover, &:focus {
                color: $action-secondary;
            }
        }

        .sidebar-badge {
            color: $primary-background;
            background-color: $action-primary;
        }

        .sidebar-divider, .sidebar-nav .divider {
            background-color: $action-primary;
        }

        .sidebar-text {
            color: $navcolor;
        }

        .sidebar-nav {
            margin: 0;
            padding: 0;

            a {
                position: relative;
                cursor: pointer;
                user-select: none;
                @include sidebar-block();
                color: $navcolor;

                &:hover {
                    background-color: $action-secondary;
                }
            }

            //** Links
            //----------------
            li {
                position: relative;
                list-style-type: none;   

                i {
                    color: -hover-color;
                }         
            }

            //** Dropdown menu
            //----------------
            .dropdown-menu {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 0;
                @include box-shadow(none);
            }   

            > .active > a {
                color: $action-primary;
                background-color: transparent;

                &:hover {
                    color: $navcolor;
                    background-color: $action-primary;
                }
            }       

            // Dropdown menu items
            > .dropdown {         
                > .dropdown-menu {
                    background-color: transparent;
                    background-image: url('/images/dark_wall.jpg');
                    > ul {
                        background-color: transparent;
                    }

                    > li > a {
                        background-color: transparent;
                        &:hover {
                            color: $navcolor;
                            background-color: $action-secondary;
                        }
                    }

                    .active > a {
                        color: $action-primary;
                        background-color: transparent;

                        &:hover {
                            color: $navcolor;
                            background-color: $action-primary;
                        }
                    }  

                }
            }

            // > .open > a {
            //     &,
            //     &:hover,
            //     &:focus {
            //         color: $navcolor;
            //         background-color: $action-secondary;
            //     }
            // }

            // > .inactive > a {
            //     &,
            //     &:hover,
            //     &:focus {
            //         color: $navcolor;
            //         background-color: transparent;
            //     }
            // }


            // > .disabled > a {
            //     &,
            //     &:hover,
            //     &:focus {
            //         color: red;
            //         background-color: red;
            //     }
            // }

           
        }
    }

    // Sidebar Elements
    //
    // Basic style of sidebar elements
    .sidebar {
        //** Sidebar heading
        //----------------
        .sidebar-header {
            position: relative;
            height: $sidebar-desktop-width * 9/16; // 16:9 header dimension
            

            // Brand/project cover
            // Addition class for sidebar header
            &.header-cover {
                background-repeat: no-repeat;
                background-position: center center;
                background-image: $sidebar-background-image;
                @include background-size(cover);
            }

            &:hover {
                .sidebar-toggle {
                    opacity: 1;
                }
            }
        }

        //** Sidebar toggle
        //
        // You can bind click on this button and toggle sidebar via javascript
        .sidebar-toggle {
            position: relative;
            float: right;
            margin: $sidebar-padding;
            padding: 0;
            background-image: none; // Reset unusual Firefox-on-Android default style;
            border: none;
            height: $sidebar-icon-width;
            width: $sidebar-icon-width;
            font-size: $sidebar-icon-size;
            opacity: 0.7;
            @include transition(all .2s ease-in-out);
            @include clearfix();
        }



        //** Brand/project image
        //
        // In google guideline used for user profile image
        .sidebar-image {
            img {
                width: $sidebar-desktop-width/4 - $sidebar-padding + 5px;
                height: $sidebar-desktop-width/4 - $sidebar-padding + 5px;
                margin: $sidebar-padding;
                border-radius: 50%;
                margin-top: 0px;
                @include transition(all .2s ease-in-out);
            }
        }

        //** Brand/project name
        //
        // In google guideline used for email dropdown
        .sidebar-brand {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @include sidebar-block();

            &:hover,
            &:focus {
            text-decoration: none;
            }
        }

        //** Sidebar divider
        //----------------
        .sidebar-divider, .sidebar-nav .divider {
            position: relative;
            display: block;
            height: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 0;
            overflow: hidden;
        }
    }



    // Sidebar toggling
    //
    // Hide sidebar
    .sidebar {
        width: 0;
        @include translate3d(-$sidebar-desktop-width, 0, 0);

        &.open {
            min-width: $sidebar-desktop-width;
            width: $sidebar-desktop-width;
            @include translate3d(0, 0, 0);
        }
    }

    // Sidebar positions: fix the left/right sidebars
    .sidebar-fixed-left,
    .sidebar-fixed-right,
    .sidebar-stacked {
        position: fixed;
        top: 51px;
        bottom: 0;
        z-index: $zindex-sidebar-fixed;
    }
    .sidebar-stacked {
        left: 0;
    }
   
    // Sidebar size
    //
    // Change size of sidebar and sidebar elements on small screens
    @media (max-width: $screen-tablet) {
        .sidebar.open {
            min-width: $sidebar-width;
            width: $sidebar-width;
        }

        .sidebar .sidebar-header {
            height: $sidebar-width * 9/16; // 16:9 header dimension
        }

        .sidebar .sidebar-image {
            img {
                width: $sidebar-width/4 - $sidebar-padding;
                height: $sidebar-width/4 - $sidebar-padding;
            }
        }
    }
    
    @media (min-width: $desktop-width) {
        .sidebar.open {
            top: $desktop-topnav-correction;
        }
        .sidebar {
            top: $desktop-topnav-correction;
        }
    }
}