<div ng-controller="SidebarController as vm" class="ds-sidebar">  
    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-fixed-left sidebar-default open" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover">
            <!-- Top bar -->
            <div class="top-bar"></div>
            <!-- Sidebar toggle button -->
            <button type="button" class="sidebar-toggle">
            </button>
            <!-- Sidebar brand image -->
            <div class="sidebar-image">
                <img src="{{ vm.profile.picture }}">
            </div>
            <!-- Sidebar brand name -->
            <a href="javascript:void(0)" data-target="#settings-dropdown" data-toggle="dropdown" class="sidebar-brand">
                {{ vm.profile.name || vm.profile.nickname }}
                <b class="caret"></b>
            </a>
        </div>

        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li class="dropdown">
                <ul id="settings-dropdown" class="dropdown-menu">
                    <li ui-sref-active="active"><a ui-sref="profile" tabindex="-1"><i class="fa fa-user"></i> Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="settings" tabindex="-1"><i class="fa fa-cogs"></i> Settings</a></li>
                    <li ui-sref-active="active"><a ng-click="vm.logout()" href="javascript:void(0)" tabindex="-1"><i class="fa fa-sign-out"></i> Logout</a><li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li ng-repeat="route in vm.navRoutes" ui-sref-active="active">
                <a ui-sref="{{ route.name }}" ng-bind-html="route.settings.content">{{route.title}}</a>
            </li>
            
            <li class="divider"></li>
        </ul>
    </aside>

</div>

<script>
  
/**
 * Add JQuery animation to bootstrap dropdown elements.
 */
(function($) {
    var dropdown = $('.dropdown');

    // Add slidedown animation to dropdown
    dropdown.on('show.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // Add slideup animation to dropdown
    dropdown.on('hide.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
})(jQuery);


</script>