<div ng-controller="TopNavController as vm" role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="vm.toggleLeftBar()" class="navbar-brand" href="javascript:void(0)">
          <i ng-show="!vm.isLeftToggled" class="fa fa-bars"></i>
          <i ng-show="vm.isLeftToggled" class="fa fa-arrow-left"></i>
       </a>
      <a class="navbar-brand" ui-sref="home">DolphStudios</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <form class="navbar-form navbar-left">
        <div class="form-group">
            <ds-input placeholder="Search..."></ds-input>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">


        <span ng-class="vm.unreadMessages > 0 ? 'faa-horizontal animated' : ''" ng-click="vm.toggleChat()"
          class="fa-stack fa-2x has-badge" data-count="{{ vm.unreadMessages }}">
          <i id="chat-icon" ng-class="vm.isChatToggled ? 'chat-icon' : ''" class="fa fa-2x fa-weixin"></i>
        </span>



        <li><a class="navbar-brand" href="javascript:void(0)"></i> Help</a></li>
<!--         <li><a ng-class="vm.unreadMessages > 0 ? 'faa-shake animated' : ''" ng-click="vm.toggleChat()" 
          class="navbar-brand" href="javascript:void(0)">
            <i id="chat-icon" data-count="8,888,888" ng-class="vm.isChatToggled ? 'chat-icon' : ''" class="fa fa-2x fa-weixin"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>