@mixin btn-gradient () {
    background-image: linear-gradient(to bottom, #26c3f6 10%, #1286BC 90%);
}

@mixin primary () {

}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin translate3d($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    list-style: none;
  
  -ms-box-orient: horizontal;
}

@mixin flex-direction($dir) {
    -webkit-flex-direction: $dir;
    flex-direction: $dir;
}