$action-primary:                    #25C2F5; // Light blue
$action-secondary:                  #1286BC; // Light blue

$primary-text-color:                #ECECEC; // Off White

$primary-background:                #1F2225; // Dark Gray
$secondary-background:              #212528; // Darker Gray
$secondary-background-opacity:      rgba(33,37,40,.75);

$navcolor:                          #F0F0F0; // Light white color
