<div class="ds-chatbar">
    <!-- Chat Bar -->
    <aside id="chatbar" class="sidebar sidebar-fixed-right sidebar-default" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-title">
            <h3>{{ vm.title }} 
                <!-- <span ng-if="!vm.isConnected()" class="chat-disconnected">Offline</span> -->
            </h3>
            <div class="dropdown">
              <i class="fa fa-cogs dropdown-toggle chat-settings pull-right" data-toggle="dropdown"></i>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:void(0);"  ng-click="vm.toggleChatLock()">
                    <span ng-if="!vm.isChatLocked">Lock Chat</span>
                    <span ng-if="vm.isChatLocked">Unlock Chat</span>
                </a></li>
              </ul>
            </div>
        </div>



        <three-bounce-spinner ng-if="!vm.isConnected()"></three-bounce-spinner>

        <div ng-show="vm.isConnected()">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#chat_global" aria-controls="chat_global" role="tab" data-toggle="tab">Global</a>
                </li>
                <li role="presentation">
                    <a href="#chat_users" aria-controls="chat_users" role="tab" data-toggle="tab">Users</a>
                </li>
                <li role="presentation">
                    <a href="#chat_messages" aria-controls="chat_messages" role="tab" data-toggle="tab">Messages</a>
                </li>
            </ul>

            <div ng-show="vm.isConnected()" role="tabpanel">
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- GLOBAL CHAT -->
                    <div role="tabpanel" class="tab-pane active" id="chat_global">
                        <div ng-include="'app/widgets/chat/partials/global/global.html'"></div>
                    </div>

                    <!-- ONLINE USERS -->
                    <div role="tabpanel" class="tab-pane" id="chat_users">
                        <div ng-include="'app/widgets/chat/partials/users/users.html'"></div>
                    </div>

                    <!-- DIRECT MESSAGES -->
                    <div role="tabpanel" class="tab-pane" id="chat_messages">
                        <div ng-include="'app/widgets/chat/partials/messages/messages.html'"></div>
                    </div>

                </div>
            </div>
        </div>


    </aside>
</div>