/* -- import Roboto Font ---------------------------- */
@import "base/variables";
@import "base/mixins";

.ds-chatbar {
    // Sidebar variables
    // --------------------------------------------------
    $zindex-sidebar-fixed: 999;
    $chatarea-background-color: $secondary-background-opacity !important;
    $topnav-correction: 50px;

    // Sidebar mixins
    // --------------------------------------------------
    
    // Base mixins
    // --------------------------------------------------
    @mixin clearfix() {
        &:before,
        &:after {
            content: " "; // 1
            display: table; // 2
        }
        &:after {
            clear: both;
        }
    }

    
    .chatbox {
        position: absolute;
        width: 100%;
        padding: 0px 0px 0.4em 0.4em;
        
        bottom: 50px;
    }

    a {
        color: $action-primary;
    }
    
    .chatarea {
        width: 100%;
        height: calc(100% - 150px);
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 20px;
    }

    .chat-disconnected {
        color: #FF0000;
        font-size: 75%;
        margin-top: 5px;
        /*float: right;*/
    }

    .btn-disconnect {
        padding: 2px 4px, 2px, 4px;
        margin-top: -5px;
        float: right;
        margin-right: 5px;
    }

    .dropdown {
        .chat-settings {
            color: $action-primary;
            cursor: pointer;
            margin-top: -33px;
            margin-right: 10px;
        }    
        .dropdown-menu {
            color: $action-primary !important;
            padding: 0px;
            a{
                padding: 10px 10px 10px 30px;
                &:hover {
                    background-color: $action-primary !important;
                    color: $navcolor;
                }
            }
        }
    }

    .user-block {
        background-color: $navcolor;
        color: $action-primary;
        cursor: pointer;

        img {
            border-radius: 50%;
        }    
        .username {
            padding-left: 0.4em;
        }
    }

    .usercount {
        color: $navcolor !important;
    }
    

    // Sidebar design template
    //
    // You can make own sidebar style with this template
    @mixin sidebar-template($bg) {
        background-color: $bg;
    }

    //
    // Sidebars
    // --------------------------------------------------

    // Wrapper and base class
    //
    // Provide a static sidebar from which we expand to create other sidebar variations.
    .sidebar {
        position: relative;
        display: block;
        min-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: none;
        @include transition(all 0.5s $transition-type);
        @include clearfix();
    }

    // Sidebar color theme variations
    //
    // ------------------------
    .sidebar-default {
        @include sidebar-template(
            $bg: $chatarea-background-color
        );
    }

    // Sidebar toggling
    //
    // Hide sidebar
    .sidebar {
        width: 0;
        @include translate3d(-$sidebar-desktop-width, 0, 0);

        &.open {
            min-width: $sidebar-desktop-width;
            width: $sidebar-desktop-width;
            @include translate3d(0, 0, 0);
        }
    }

    // Sidebar positions: fix the left/right sidebars
    .sidebar-fixed-left,
    .sidebar-fixed-right,
    .sidebar-stacked {
        position: fixed;
        top: $topnav-correction;
        bottom: 0;
        z-index: $zindex-sidebar-fixed;
    }
    .sidebar-stacked {
        left: 0;
    }
    .sidebar-fixed-right {
        right: 0;
        box-shadow: 0px 2px 15px rgba(0,0,0,0.35);
        -webkit-box-shadow: 0px 2px 15px rgba(0,0,0,0.35);

        @include translate3d($sidebar-desktop-width, 0, 0);
        &.open {
            @include translate3d(0, 0, 0);
        }
    }
    
    .sidebar-title {
        background-color: $secondary-background !important;
        color: $primary-text-color;
        font-size: 1.4em;
        text-align: left;
        padding: 1px 0px 5px 5px;
        border-bottom: 2px solid $action-primary;        
    }
    
    @media (max-width: $screen-tablet) {
        .sidebar.open {
            min-width: $sidebar-width;
            width: $sidebar-width;
        }
    }
}