@import 'base/variables';
@import 'base/mixins';

$screen-tablet: 768px;
.message {
    
    @include display-flex();
    @include flex-direction(row);
    padding: 5px 5px 0px 5px;
    
    .user {
        text-transform: capitalize;
    }
    
    img {
        border-radius: 50%;
    }    
        
    .post {
        padding-left: 15px;
        
        p {
            word-break: break-word;
            font-weight: 400;
        }
    } 
    
    @media (max-width: $screen-tablet) {
        img {
            display: none;
        }
        
        .timestamp {
            display: none;
            font-weight: 600;
        }
    }
}

